.contest-display.odd{
    background-color: #2a3c52;
    transition: color 0.6s;
}


.contest-display.even{
    background-color: #1e2a38;
    transition: color 0.6s;
}

.contest-display {
    border: solid;
    display: flex;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-color: gray;
    justify-content: space-between;
    cursor: pointer;
    height: 150px;
}

.contest-display:hover {
    background-color: rgb(0, 0, 0);
    transition: background-color 0.8s;
}

.contest-preview-info {
    margin: 0;
    padding: 10px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.closing-date {
    display: flex;
    width: 400px;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
}

.cd-color {
    color:rgb(36, 255, 36)
}

.description {
    padding-top: 50px;
    padding-bottom: 20px;
    width: 600px;
    height: fit-content;
}

.price {
    color:rgb(36, 255, 36);
    font-size: 30px;
}

.price-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: fit-content;
}

.description-div {
    height: fit-content;
}
