.contest-display.odd{
    background-color: #ffffff;
    transition: color 0.6s;
}


.contest-display.even{
    background-color: #bbbbbb;
    transition: color 0.6s;
}

.contest-display {
    border: solid;
    display: flex;
    border-right: none;
    border-left: none;
    border-bottom: none;
    border-color: gray;
    justify-content: space-between;
    cursor: pointer;
    height: 120px;
    width: 100%;
}

.contest-display:hover {
    background-color: rgb(112, 109, 251);
    transition: background-color 0.8s;
}

.contest-preview-info {
    margin: 0;
    padding: 10px;
    color: black;
    font-family: 'Bangers';
    font-size: 20px;
}

.closing-date {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    justify-content: space-between;
}

.cd-color {
    color: black
}

.description {
    padding-top: 50px;
    padding-bottom: 20px;
    width: fit-content;
    height: fit-content;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

.price {
    color:rgb(36, 255, 36);
    font-size: 30px;
}

.price-div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: fit-content;
}

.description-div {
    height: fit-content;
    display: flex;
}

#contest-description {
    margin-top: 50px;
    padding: 0px;
    height: fit-content;
    font-size: 35px;
    color: black;
}
