.contest-header-elements {
    margin: 0;
    padding: 10px;
    color: black;
    font-family: 'Bangers';
    font-size: 20px;
    background-color: white;
}

.contest-header {
    background-color: #1e2a38;
    margin: 0px;
    border: solid;
}

.contest-block {
    margin:0px;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-submission:hover {
    background-color: green
}

.hidden {
    display: none
}

.error {
    color: red
}

.enter-sub {
    margin: 0 auto;
    width: fit-content;
    margin-top: 15px;
}
